@page "/coops"

<h1>Cooperation Partners</h1>

<div class="logo-container">
    <a href=link1 target="_blank">
        <img src="/erasmus1.jpg" />
    </a>
    <a href="https://www.partner2.com" target="_blank">
        <img src="/erasmus2.jpeg"/>
    </a>
    <a href="https://www.partner3.com" target="_blank">
        <img src="/erasmus3.jpeg" />
    </a>
    <a href="https://www.partner4.com" target="_blank">
        <img src="/erasmus4.jpeg" />
    </a>
</div>

@code {
}
