@page "/"

<PageTitle>Butaland Erasmus</PageTitle>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>Erasmus Program Butaland</h1>
            <p>Butaland is a kindergarten located in Stockholm. We are proud to be participating in the Erasmus Program, which allows us to exchange knowledge, ideas, and experiences with other educational institutions across the continent. Our mission is to provide a safe, nurturing, and stimulating environment where children can learn and grow.</p>
        </div>
    </div>
</div>

<UserButtons></UserButtons>
@code {

}
